/* !--
Name: Ahmed Ali
File: Stylesheet.css
Date: 15 April 2026
assignment Web Accessibility
-- */


/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
  margin-top: 0;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
  margin: 0;
}

h2 {
  font-size: 3.8rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.8rem;
  margin: 3rem 0 1.5rem;
}

p, li, table {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* || header layout */
.header {
  background-color: #cfcfe3;
  padding: 2rem 0;
  margin-bottom: 10px;
}
.header h1 {
  padding: 2rem 0;
}

.nav, article, footer, .secondary {
  background-color: rgba(255, 255, 255, 0.85);
}

article, footer, .secondary {
  padding: 20px 30px;
}

article {
  margin-right: 10px;
}

.nav {
  min-height: 50px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 1.2rem 2rem;
  margin-bottom: 10px;
}

div[class="nav"] ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

div[class="nav"] li {
  display: inline;
  text-align: center;
  flex: 1;
}

.nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

div[class="nav"] .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* || main layout */

main {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* styling content images and audio */

img, audio {
  display: block;
  margin: 2rem auto;
}
img {
	max-width: 100%;
	height: auto;
}

audio {
  width: 500px;
}

/* Comments styling */

.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
}

.comments h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.show-hide {
  text-align: center;
  width: 150px;
}

.comment-form input, .comment-form label, .show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form input[type="submit"], .show-hide {
  background: #333;
  border: 0;
  color: white;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}
